*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #F3F3FB;
}
.container{
width: 100%;
height: 100%;
margin:2rem auto;
max-width: 1200px;
padding:  0px 20px;
}
li{
    list-style-type: none;
}
.comments-container{
width: 100%;
height: 100%;
display: grid;
grid-template-columns:1fr;
gap: 1rem;
}
.comment{
background-color: #FFF;
padding: 10px;
border-radius: 4px;
box-shadow: 0px 2px 7px #bcbccc ;
}
.comment .email{
font-size: 16px;
color: #2f334d;
}
.comment .name{
color: #8c8c9c;
font-size: 16px;
text-transform:capitalize;

display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;  
overflow: hidden;
}
.comment .message{
    font-size: 16px;
    letter-spacing: 1px;
}
.comments-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
@media screen and (min-width:768px) {
    .comments-container{
     grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
}




